#= FILES
.DS_Store
desktop.ini
prepros.cfg
node_modules/
prepros.config
prepros-6.config

#= PAGES
*.pug
email.html
template.html
service.html
contact.html
privacy.html
portfolio.html
components/
pages/
config/
snippets/
backup/*

#= CSS
assets/css/*
assets/scss/*
assets/dist/main.min.css.map

# = JS
assets/js/*