#= FILES
.DS_Store
desktop.ini
prepros.cfg
node_modules/
prepros.config
prepros-6.config

#= PAGES
*.pug
template.html
service.html
domain.html
components/
pages/
config/
snippets/
sections/

#= CSS
assets/css/*
assets/scss/*

# = JS
assets/js/*