:root{
	--color-text: #37352f;
	--color-text-light: #787774;
	--color-link: #337ea9;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body{
	width: 100%;
	padding: 0px;
	margin:  0px;
	color: #37352f;
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: 400;
	background-color: white;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	position: relative;
}

h1{
	font-size: 3.5vw;
	font-weight: 700;
}

h2{
	font-size: 2.5vw;
	font-weight: 500;
}

.page{
	width: 100%;
	padding-top: 8em;
	padding-bottom: 8em;
	position: relative;
}

.page__container{
	width: 100%;
	margin:  0 auto;
	padding-left: 8.33333%;
	padding-right: 8.33333%;
	position: relative;
}

.page__section{
	width: 100%;
	position: relative;
}

.page__section h1{
	margin-bottom: 16px;
}

.page__section h1 sup{
	font-size: 34px;
}

.page__section p{
	color: #787774;
	font-weight: 400;
}

.footer{
	width: 100%;
	position: relative;
	padding-top: 4em;
	padding-bottom: 4em;
}

.footer__social{
	width: 100%;
	position: relative;
}

.footer__copyright{
	width: 100%;
	position: relative;
}

.footer__copyright p{
	color: var(--color-text-light);
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

.footer__copyright a{
	color: var(--color-text-light);
	display: inline-block;
	position: relative;
}

.footer__copyright a:hover{
	color: var(--color-link);
}
