:root{
	--color-text: #37352f;
	--color-text-dark: #000;
	--color-text-light: #787774;
	--color-link: #337ea9;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body{
	width: 100%;
	padding: 0px;
	margin:  0px;
	color: var(--color-text);
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: 400;
	background-color: white;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	position: relative;
}

h1{
	font-size: 8.5vw;
}

h2{
	font-size: 4.5vw;
	font-weight: 500;
}

.page{
	width: 100%;
	padding-top: 8em;
	padding-bottom: 8em;
	position: relative;
}

.page__container{
	width: 100%;
	margin:  0 auto;
	padding-left: 8.33333%;
	padding-right: 8.33333%;
	position: relative;
}

.page__section{
	width: 100%;
	position: relative;
}

.page__section h1{
	color: var(--color-text-dark);
	margin-bottom: 16px;
}

.page__section h1 sup{
	color: var(--color-text-dark);
	font-size: calc(8.5vw / 2);
}

.page__section h2{
	color: var(--color-text-dark);
}

.page__section span{
	font-family: 'Space Mono', monospace;
	color: var(--color-text-light);
	font-size: 14px;
	position: relative;
}

.page__section p{
	font-size: 16px;
	margin-top: 24px;
	margin-bottom: 0px;
	position: relative;
}

.page__section p a{
	color: var(--color-text);
	display: inline-block;
	position: relative;
	text-decoration: none;
}

.page__section p a:hover{
	color: var(--color-link);
	text-decoration: none;
}

/*
	= FOOTER
	--------------------------------------------------------------------------------
 */
.footer{
	width: 100%;
	position: relative;
	padding-top: 4em;
	padding-bottom: 4em;
}

.footer__social{
	width: 100%;
	position: relative;
}

.footer__copyright{
	width: 100%;
	position: relative;
}

.footer__copyright p{
	font-family: 'Space Mono', monospace;
	color: var(--color-text-light);
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

.footer__copyright a{
	color: var(--color-text-light);
	display: inline-block;
	position: relative;
}

@media (min-width: 768px){
	h1{
		font-size: 3.5vw;
	}

	h2{
		font-size: 2.5vw;
		font-weight: 500;
	}

	.page__section h1 sup{
		font-size: calc(3.5vw / 2);
	}

	.page__section p{
		font-size: 20px;
	}
}
